.note-item {
    box-shadow: 0px 4px 16px 0px #00000012;
    padding: 12px;
    border-radius: 12px;
    min-height: 112px;
    margin-bottom: 16px;
}

.note-title {
    margin: 0;
}

.note-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.note-body {
    margin-bottom: 20px;
}

.note-date {
    font-size: 12px;
    color: #5b5c5e;
}

.note-item button {
    background-color: transparent;
    border: none;
}
